$color-primary: #E73D50;    /*Bright red*/
$color-bright-blue: #277cd9;   /*Bright blue*/
$color-soft-yellow: #fee15b; /*Soft yellow*/
$color-lime-green: #3cc472;	/*Lime green*/
$color-dark-grayish-blue: #3a4750;
$color-fade-black: #6d767d; /*Fade Black for text*/
$color-very-light-gray:#dcdcdc66;
$color-light-shade-gray:#c4c4c4;
$color-white: #fff;		/*White*/
$color-black:#000;
$color-light-blue:#303841; /*lightblue*/
$color-light-lime-green:#daf0d8;
$color-orange-red:#FF4500;
$color-facebook-logo:#3b5998;
$color-twitter-logo:#00acee;
$color-pinterest-logo: #c8232c;
$color-instagram-logo:#E1306C;
$color-light-gray: #bdb6b666;

